#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  html {
    background-image: url('./../../assets/bg.jpg');
    background-size: no-repeat, cover;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: black;
  }
  
  .forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }