.current-weather-card {
    background: rgba(0, 0, 0, 0.5);          /* Darker background color */
    color: #fff;                /* Light text for contrast */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    margin: 20px auto;
    padding: 10px;
    border-radius: 12px;
    width: 660px;
}

.current-weather-card h2,
.current-weather-card h3,
.current-weather-card p {
  margin: 5px 0; /* Adjust this value as needed */
  padding: 0;
}